<!DOCTYPE html>
<html lang="en">
<!-- {% load static %} -->
<!-- {% load staticfiles %} -->
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
</head>
<body class="">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   {% block content %}
   {% endblock content %}
   {% if user.is_authenticated %}
     <div class="sidenav text-left">
      <div class="text-center"> 
        <img id="logo" class="" src="{% static 'css/logo.png' %}" alt="">
      </div>  
        <a class="p-3 text-white">Hello {{ user.username }}</a>
       <div class="dropdown">
        <a id="catelog" class="btn dropdown-toggle text-left"  href="{% url 'index' %}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="pr-2 glyphicon glyphicon-qrcode"></span>e-Commerce</a>
         <div id="dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-left"  href="{% url 'index' %}">Dashboard</a>
            <a class="dropdown-item text-left" href="#">Orders</a>
            <a class="dropdown-item text-left" href="#">Coupons</a>
         </div>
       </div> 
        <a class="text-left pl-3" href="#services"><span class="pr-2 glyphicon glyphicon-list-alt"></span>Services</a>          
          <div class="dropdown">
              <a id="catelog" href="{% url 'chandler:product_list' %}" class="btn dropdown-toggle text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="pr-2 glyphicon glyphicon-th-list"></span>Catelog</a> 
             <div id="dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item text-left"  href="{% url 'chandler:products' %}">Add Products</a>
              <a class="dropdown-item text-left" href="{% url 'chandler:product_list' %}">Manage Products</a>
              <a class="dropdown-item text-left" href="{% url 'chandler:category_list' %}">Manage Category</a>
             </div>
          </div>  
          <div class="dropdown">
              <a id="catelog" class="btn dropdown-toggle text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="pr-2 glyphicon glyphicon-user"></span>User</a>
               <div id="dropdown" class="text-left dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item text-left"  href="{% url 'chandler:user_list' %}">All Users</a>
                  <a class="dropdown-item text-left" href="{% url 'chandler:register' %}">Add New</a>
                  <a class="dropdown-item text-left" href="#">Your Profile</a>
               </div>
            </div> 
            <div class="dropdown">
              <a id="catelog" class="btn dropdown-toggle text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="pr-2 glyphicon glyphicon-cog"></span>Settings</a>
                <div id="dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item text-left"  href="#">General</a>
                  <a class="dropdown-item text-left" href="#">Tax</a>
                  <a class="dropdown-item text-left" href="#">Shipping</a>
                  <a class="dropdown-item text-left" href="#">Payments</a>
                  <a class="dropdown-item text-left" href="#">Emails</a>
                </div>
            </div> 
          <a class="text-left pl-3" href="#contact"> <span class="pr-2 glyphicon glyphicon-inbox  "></span>Contact</a>
       <div class=" fixed-bottom p-4 text-center">         
         <button class="btn btn-danger text m-3" onclick=window.location.href="{% url 'logout' %}">Logout</button>
       </div>
     </div>  
       {% else %}
        <div class="text-center mb-4">
         <button class="btn btn-outline-dark" onclick=window.location.href="{% url 'chandler:user_login' %}">Sign In</button>
          <button id="but" class="btn btn-outline-dark" onclick=window.location.href="{% url 'chandler:register' %}">Register</button>
        </div>
       {% endif %}
   <footer id="" class="border-top border border-dark border-bottom-0 border-right-0 border-left-0">
    <div class="container text-center">
     <small>Copyright &copy; SonaSaachi</small>
    </div>
   </footer>  
    <link rel="stylesheet" href="{% static 'css/chandler.css' %}">
    <script type="text/javascript" src="{% static 'chandler/chandler.js' %}"></script>
     {% block script %}
     {% endblock script %}

</body>